@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
}

.app {
  transition: opacity 3s ease;
}

.loading {
  background-color: white;
}

.loaded {
  background-color: initial;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}
